<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Todo App</title>
    <link type="text/css" rel="stylesheet" href="styles/normalize-v3.0.2.css">
    <link type="text/css" rel="stylesheet" href="styles/fonts/lato.min.css">
    <link type="text/css" rel="stylesheet" href="styles/fonts/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="styles/main.css">
    <link type="text/css" rel="stylesheet" href="styles/media-queries.css">
</head>

<!-- ng-cloak directive used in order to prevent the Angular html template from being briefly displayed by the browser in uncompiled form  -->
<body ng-app="taskApp" ng-cloak>


<div id="main-wrapper" ng-controller="ActionsCtrl">
<div id="content-wrapper">

    <!-- title -->
    <h1>What are your tasks today?</h1>
    <!-- insert task -->
    <div id="insert-wrapper">
    <input id="new-task" class="inline-item" type="text" ng-focus="focused = true" ng-blur="focused = false"  ng-model="taskText"/>
    <div id="submit-task" class="inline-item" ng-class="{lightButton: focused}" ng-click="addTask($event)"><i class="fa fa-plus-circle"></i></div>
    </div>

    <div id="interactions-wrapper">

    <!-- menu -->
    <div id="menu-wrapper" ng-show="isTask()">
        <input id="toggle-all" class="menu-item" type="checkbox" ng-model="selectAll" ng-click="toggleselectAll()"/>
        <label for="toggle-all"></label>
        <div class="task-counter menu-item">{{remaining()}} of {{tasks.length}} remaining</div>
        <div class="clear-completed menu-item" ng-click="removeTasks()" ng-show="taskDone()">
            <i class="fa fa-trash"></i> <span>{{(tasks.length - remaining())}} {{itemText()}}</span>
        </div>
    </div>

    <!-- tasks list -->
    <div id="tasks-wrapper">
    <ul id="task-list">
        <li ng-repeat="task in tasks">
    <!--
    I could have done that through the Controller but I didn't want to manipulate the DOM with it.
    And per AngularJS' documentation it is not correct to use the Controller to manipulate the DOM so I've used the directives below.
    -->
            <div class="edit-switch" ng-class="{'':!toggled, 'edit-mode':toggled}" ng-click="toggled = !toggled"></div>
            <div class="task-item-wrap">
                <input id="task-{{$index}}" class="check-task" type="checkbox" ng-model="task.done"/>
                <label for="task-{{$index}}"></label>
                <span class="done-{{task.done}}">{{task.text}}</span>
            </div>
            <input class="edit" type="text" ng-model="task.text"/>
        </li>
    </ul>
    </div>
    </div>

</div>
</div>

<script src="scripts/angularJS-v1.4.8.js"></script>
<script src="scripts/controllers/actionsController.js"></script>

</body>
</html>