    /*

    NOTE:
    For this app I will use media queries in order to adjust some graphic elements.
    I could also detect the type of device via javascript and could assign, for example, a class "mobile" to the body tag
    so I'd be able to create a specific CSS rules for that type of device. E.g: body.mobile {background-color: #000;}

    */

    @media only screen and (max-width: 763px) and (orientation:portrait)
    {

    /*

    Here is just an example of loading an optimised in size image for devices with small screen.
    I will not use it in this case because the image I got doesn't have good quality and if I compress it even more
    it won't look so nice (specially on iPhone).

    html {
        background: url("../images/bg-mobile.jpg") no-repeat center center fixed;
    }

    */
        /* GLOBAL ELEMENTS */

        body {
            font-family: "LatoWeb";
            font-size: 20px;
        }

        #content-wrapper {
            width: 80%;
        }

        /* HEADER ELEMENTS */

        #content-wrapper h1 {
            font-size: 19px;
            margin-top: 30px;
        }

        #insert-wrapper {
            width: 80%;
        }

        #insert-wrapper #submit-task {
            top: 5px;
        }

        /* INTERACTIONS ELEMENTS */

        #interactions-wrapper,
        #interactions-wrapper #menu-wrapper{
            margin-top: 20px;
        }

        #tasks-wrapper {
            bottom: 200px;
        }

        #tasks-wrapper .edit-switch {
            line-height: 44px;
        }

        #tasks-wrapper .edit-switch.edit-mode:before {
            line-height: 46px;
        }
    }


    @media only screen and (max-width: 763px) and (orientation:landscape){

        /* GLOBAL ELEMENTS */

        body {
            font-family: "LatoWeb";
            font-size: 20px;
        }

        #content-wrapper {
            width: 80%;
        }

        /* HEADER ELEMENTS */

        #content-wrapper h1 {
            font-size: 19px;
            margin-top: 20px;
        }

        #insert-wrapper #submit-task {
            top: 5px;
        }

        /* INTERACTIONS ELEMENTS */

        #interactions-wrapper,
        #interactions-wrapper #menu-wrapper{
            margin-top: 20px;
        }

        #tasks-wrapper {
            bottom: 150px;
        }

        #tasks-wrapper .edit-switch {
            line-height: 44px;
        }

        #tasks-wrapper .edit-switch.edit-mode:before {
            line-height: 46px;
        }

    }